/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Admin Page */
.p-0 {
	padding: 0 !important;
}

.p-1 {
	padding: 1rem;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

.copy-to-clipboard {
	position: relative;
	font-size: 11px !important;
}

.shortcode-input {
	background: rgba(194, 110, 110, 0.2) !important;
	padding: .5rem;
	border-radius: .25rem;
	text-align: center;
}

.copy-to-clipboard {
	.copy {
		cursor: pointer;
		text-decoration: none;
		padding-left: .25rem;
		&:hover {
			text-decoration: underline;
		}
	}
	.copied {
		display: none;
		padding-left: .25rem;
	}
}

.sidebar-element {
	padding: 0.5rem;
}

.no-underline {
	text-decoration: none;
}

#wordflex_side_admin_metabox .dashicons {
	color: #82878c;
	font-size: 1.25rem;
}

.postbox .inside .inside-heading {
	font-size: 1.25rem !important;
	margin-top: 2rem !important;
}

/* CMB2 Edit */
.cmb-row {
	display: flex;
	padding: 2rem 1rem;
	margin: 1rem 0;
	&:not(:last-of-type) {
		border-bottom: 1px solid #e9e9e9;
	}
	.cmb-th {
		flex: 1 0 0;
		padding: 0 1rem;
		margin: 0 0.5rem 0.75rem 0;
	}
	.cmb-td {
		flex: 4 0 0;
		padding: 0 1rem;
	}
}

.cmb2-upload-file {
	margin: 0 0.5rem 0.5rem 0;
}

.cmb2-text-small {
	width: 20%;
}

.cmb2-text-medium, .cmb2_select {
	width: 50%;
}

.cmb-group-title {
	text-align: center;
}

.cmb2-metabox-description {
	margin-top: 0;
	padding-top: .5rem !important;
	font-size: 1rem !important;
	display: block;
	display: block;
	font-style: italic;
	color: #aaa;
	clear: both;
}

.cmb2-wrap .cmb-type-title {
	padding: .85rem 0 0 !important;
	margin-bottom: 3rem;
	text-align: center;
	.cmb2-metabox-title {
		font-size: 15px !important;
		margin: 0 !important;
	}
}

/* Switch field */
.switch-field .cmb2-radio-list {
	margin: 0;
	width: 100px;
	li {
		padding-right: 0;
		margin: 0;
		line-height: inherit;
	}
	input {
		display: none;
	}
	label {
		float: left;
		background-color: #e4e4e4;
		padding: .25rem .75rem;
		border: 1px solid rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	input:checked + label {
		color: #fff;
		background-color: #0073aa;
	}
	li {
		&:first-of-type label {
			border-radius: .25rem 0 0 .25rem;
		}
		&:last-of-type label {
			border-radius: 0 .25rem .25rem 0;
		}
	}
}

/* Range field */
.cmb2-range {
	width: 70%;
	float: left;
	opacity: 0.75;
	-webkit-transition: .2s;
	transition: opacity .2s;
	&:hover {
		opacity: 1;
	}
}

.range-text {
	display: inline-block;
	margin: 0 0.5rem;
}

/* Responsive */
@media screen and (max-width: 782px) {
	.cmb-row {
		flex-flow: column;
	}

	.cmb2-text-small, .cmb2-text-medium, .cmb2_select, .cmb2-range {
		width: 100%;
		float: none;
	}
	.range-text {
		margin: 0.5rem 0;
	}
}

input[type="range"]::-moz-range-progress {
	background-color: #0073aa;
}